# .env.example - Copia este archivo a .env y completa con valores reales
DB_NAME=db_name
DB_HOST=db_host
DB_PORT=db_port
SPRING_DATASOURCE_URL="jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}?serverTimezone=UTC&allowPublicKeyRetrieval=true&createDatabaseIfNotExist=true"
SPRING_DATASOURCE_USERNAME=your_username_here
SPRING_DATASOURCE_PASSWORD=your_password_here
PORT=proyect_port_here
JWT_SECRET_KEY=your_jwt_secret_here
NUBEFACT_API_URL=https://api.nubefact.com/api/v1/your-uuid-here
NUBEFACT_API_TOKEN=your_token_here
